<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>info</title>
	<script src="../public/js/vue@3.2.47.min.js"></script>
	<script src="../public/js/echarts@5.4.2-only-pie.min.js"></script>
	<script src="../public/js/vue-echarts@6.5.5.min.js"></script>
	<link href="../public/styles/analysis.css" rel="stylesheet"/>
</head>
<body>

<div id="app"></div>

<script type="module">
	import App from "../components/analysis/index.js";

	const app = Vue.createApp(App);
	app.mount("#app");
</script>

</body>
</html>

<style>
	@font-face {
		font-family: GachaFont;
		src: url("../public/fonts/GachaFont.ttf");
	}

	#app {
		width: 1700px;
		height: 900px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: GachaFont, Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, PingFang SC, HarmonyOS_Regular, sans-serif;
	}

	p {
		margin-top: 0;
		margin-bottom: 1em;
	}

	body {
		color: rgba(0, 0, 0, .85);
	}
</style>